*{
    box-sizing: border-box;
    margin: auto;
}
body, nav{
    font-family: 'Courier New', 'Courier', 'monospace';
    background-color: rgb(253, 253, 244);
    color: rgb(74, 68, 68);
    font-weight: bold;
}

#thang{
    width: 300px;
    border-radius: 10px;
    border: 0.5px solid gray;
    font-family: 'Courier New', 'Courier','monospace';
    font-weight: bold;
}
.DropdownMenu{
    padding: 10px;
    justify-content: center;
    text-align: center;
}
option{
    border-radius: 10px;
}
rect{
    fill: rgb(227, 196, 196);
    opacity: 20%;
    border-radius: 10px;
    width: 100%;
}
.habit{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(226, 213, 238);
    height: 100%;
    padding: 50px;
    margin-top: 20px;
    border-radius: 15px;
    line-height: 98px;
}
.habit .btn{
    width: 48%;
    margin: 8px;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    background-color: #9575cd;
    border: 0.5px solid;
}
.habit .txtThoiQuen{
    font-weight: bold;
    background-color: beige;
    width: 98%;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}
.habit h4{
    text-align: center;
    font-size: 60px;
}
.dataTableTitle{
    margin-left: 5px;
    border: 0.5px solid gray;
    /* width: 10px; */
    padding: 8px;
}
.checkHabit{
    width: 18px;
    height: 20px;
}
.header-web{
    background-color: #9575cd;
    /* padding-left: 20px; */
    /* position: fixed; */
    width: 100%;

}
.content-mid{
    padding: 45px;
    margin: 95px;
    line-height: 80px;
    border-radius: 10px;
    background-color: #f6f3fb !important;
}
.content-mid input{
    border-radius: 10px;
    font-family: 'Courier New', 'Courier', 'monospace';

}
.content-goals{
    background-color: rgb(253, 253, 244) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-goals button{
    border-radius: 10px !important;
    font-family: 'Courier New', 'Courier', 'monospace';
}
.content-goals h3{
    font-weight: bold;
    font-size: 20px;
}
.content-goals h1{
    font-weight: bold;
    font-size: 30px;
}
.content-goals textarea, input{
    /* width: 100%; */
    border-radius: 10px;
    border: 0;
    
}
.content-goals form{
    background-color: #f6f3fb ;
    padding: 54px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 35px;
    border-radius: 10px;
}
.content-goals .inputCheckbox{
    border: 0.5px solid;
}
.content-goals input{
    padding: 5%;
    border: 0;
}
.content-goals button{
    margin: 8px;
    width: 45%;
    border: 0;
    background-color: #d9d1f1;
}
.content-goals button:hover{
    background-color: #9575cd;
}
.content-goals input:focus{
    border: 0.5px solid rgb(163, 199, 163);
}
.dieuBietOnForm textarea{
    border-radius: 10px;
}
.card-footer{
    border-radius: 10px;
}
.card{
    background-color: rgb(253, 253, 244) !important;
}
.form-select-mon select{
    width: 60% !important;
    height: 40px; 
}
.form-select-mon input{
    height: 40px;
    width: 30%;
}
.form-select-mon{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.form-select-mon input:hover{
    background-color: #9575cd;
    color: white;
}
.bieuDo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bieuDo #ghiChu{
    margin-top: 10px;
    border-radius: 10px;
    border: 0.5;
}
.btn-header{
    width: 100%;
    display: flex;
}
.content-goals tr{
    margin: 25px;
}
#luuTG, #luuTT{
    width: 100%;
    height: 20px;
    padding-bottom: 25px;
}
#luuTG:hover{
    background-color: #9575cd;
}
#luuTT:hover{
    background-color: #9575cd;
}
.loginForm input{
    width: 100% !important;
    height: 50px !important;
}
.loginForm{
    padding-left: 10px;
}
.loginForm .btn:hover{
    background-color: #9575cd;
}
#products-table{
    width: 90%;
    overflow:scroll;
}